*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url(../img/backgroundLp.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: $text-color;

  .container{
    background-color: $bg-color;
    width: 100%;
    max-width: 500px;
  }
}
img{
  width: 18.5rem;
}
p{
  margin: .8rem 0;
}
.btnSend{
  color: $btn-color;
  border: 1px solid $btn-color;
  transition: .5s;
  margin-block: 1rem;

  &:hover{
    background-color: $btn-color;
    border: 1px solid $btn-color;
    color: $text-color;
  }
}
footer{
  margin-bottom: -2.5rem;
  a{
    color: $text-color;
    text-decoration: none;
    transition: .5s;
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      width: 0;
      height: 0;
      border: 1px solid $btn-color;
      transition: opacity 1s, width .5s;
    }

    &:hover{
      color: $btn-color;
    }
    &:hover::after{
      width: 100%;
      opacity: 1;
    }
  }
}
@media (min-width: 2500px){
  body{
    .container{
      max-width: 1000px;
    }
  }
  img{
    width: 40rem;
  }
  p{
    margin: .8rem 0;
    font-size: 2.5rem;
  }
  .form2{
    display: flex;
    align-items: center;
    gap: 1rem;
    
    .form-check-input{
      width: 2rem;
      height: 2rem;
    }
  }
  .form3{
    @extend .form2;

    .form-check-input{
      width: 4rem;
      height: 2rem;
    }
  }
  .form4{
    .form-check-input{
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }
  .titleName,
  .options,
  .input{
    font-size: 2rem;
  }
  .btnSend{
    font-size: 2.5rem;
    margin-block: 2rem;
  }
  footer{
    margin-bottom: -2.5rem;
  }
}